@keyframes zoom {
  0% {
    transform: scale(1)
  }
  14% {
    transform: scale(1.25)
  } 
  28% {
    transform: scale(1)
  }
  42% {
    transform: scale(1.25)
  }
  70% {
    transform: scale(1)
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  20% {
    transform: scale3d(1.25, 1.25, 1.25);
  }
  40% {
    transform: scaleX(1);
  }
}
  
   