footer.footer
  .container
    .footer__wrap
      p
        | ООО «Гранд»<br>
        | 630003, г. Новосибирск ул. Владимировская д. 25 пом. 208<br>
        | ОГРН 1195476031519 ИНН 5402051830 КПП 540701001<br>
        | Лицензия № ЛО-54-01-005755 от 17.01.2020 г.
      p
        a(href="/") Политика конфиденциальности
      p
        a(href="/") Пользовательское соглашение
      p
        a(href="/") Согласие на обработку персональных данных

      p * Количество акционных мест ограничено и может отличаться от указанного в описании акции.<br> ** Имеются противопоказания, необходимо проконсультироваться со специалистом (врачом)<br> Реклама. Не является публичной офертой.

script(src="./js/scripts.min.js")
script(src="./js/main.js")