section.top
  .top__image
  .container
    .top__wrap
      h1.top__title Беспокоят<br> боли в спине?
      p.top__text Получите БЕСПЛАТНО КОНСУЛЬТАЦИЮ невролога и ОБСЛЕДОВАНИЕ всего позвоночника на 3D-СКАНЕРЕ «ТРАСТ-М»
      p.top__note *Акция действует для мужчин и женщин<br> от 40 лет, граждан РФ
      a.btn.top__btn(href="#quiz") Получить
      .top__stamp
