section.top
  .top__image
  .container
    .top__wrap
      h1.top__title.wow(data-wow-delay="1s") Беспокоят<br> боли в спине?
      p.top__text.wow(data-wow-delay="1.5s") Получите БЕСПЛАТНО КОНСУЛЬТАЦИЮ невролога и ОБСЛЕДОВАНИЕ всего позвоночника <span class="text-nowrap"> на 3D-СКАНЕРЕ «ТРАСТ-М»</span>
      p.top__note *Акция действует для мужчин и женщин<br> от 40 лет, граждан РФ
      a.btn.top__btn.wow(href="#section-quiz" data-wow-delay="2.5s") Получить
      .top__stamp
