include mixins/mixins.pug

doctype html

html
  include blocks/head.pug

  body

    include blocks/top.pug
    
    include blocks/quiz.pug

    include blocks/clinics.pug

    include blocks/footer.pug